
/*.top_line
{
    padding: 1%;
    position: absolute;
    left: 12%;
    width: 100%;
    background-color: white;
/* }*/
.orange_box
{
    background-color: orangered;
} 
.logo
{
    text-decoration: overline;
    color: white;
    font-size: 500%;
}
.logo_bottom_text
{
    color: white;
    font-size: 100%;
    font-weight: 800;
    margin-top:-7%;
    margin-left: 8%;
}
.partners_logo
{
    width: 50%;
    height: 50%;
}

.trend
{
    border: 0.5em solid black;
    color: white;
    background-color: orangered;
    writing-mode: vertical-rl;
    text-orientation: upright;
}
.section_2_lhs h1
{
    font-size: 1000%;
}
.section_2_lhs strong
{
    font-size: 500%;
    font-weight: 400;
}
.section_2_lhs p
{
    font-size: 170%;
    font-weight: 1000;
}
.links a
{
    text-decoration: none;
    color: black;
}
.address a
{
    text-decoration: none;
    color: black;
}
.section_2_rhs p
{
    font-size: 100%;
    font-weight: 500;
    position: relative;
    top: 65%;
    right: 1%;
}
.section_2_rhs h1
{
    font-size: 900%;
    font-weight: 1000;
    position: relative;
    top: 65%;
    right: -70%;
}
.section_2_line
{
    padding: 2%;
    background-color: rgb(79, 224, 200);
    position: relative;
    top: 65%;
    right: 1%;
}
.section_2_icons
{
    position: relative;
    top: 65%;
    right: 1%
}
.section_2_icons a
{
    
    position: relative;
    top: 65%;
    right: 1%;
    text-decoration: none;
    color:black;
}
.site_link
{
    position: relative;
    top: 65%;
    right: 1%;
    text-decoration: none;
    color: black;
    font-size: 130%;
    font-weight: 700;
}
