.body
{
    background-color:rgb(46, 45, 45) ;
    position: relative;
    left: 4%;
    right: 0%;
}
.orange_box_main_row
{
    background-image: url("Assets/Images/bg_img.jpeg");
    background-repeat: no-repeat;
    background-size: 90%;
    position:relative;
    background-position-x: right;
}
.top_line
{
    position: relative;
    left: 1%;
    padding: 0.5em;
    z-index: 1;
    width: 100%;
    background-color: white;
}
.orange_box
{
    margin-top: -10%;
    padding-top: 10%;
    background-color: rgba(255, 68, 0, 0.664);
    color: white;
} 
.logo
{
    text-decoration: overline;
    color: white;
    font-size: 500%;
}
.logo_bottom_text
{
    color: white;
    font-size: 100%;
    font-weight: 800;
    margin-top:-7%;
    margin-left: 8%;
}
.partners_logo
{
    width: 50%;
    height: 50%;
}

.trend
{
    
    border: 0.3em solid white;
    color: white;
    background-color: orangered;
    writing-mode: horizontal-tb;
    text-orientation: sideways;
    width: 20%;
    margin-bottom: 20;
}
@media(min-width: 760px)
{ 
    #trend
    {
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-size: 200%;
        width: 20%;
        position: relative;
        right: -70%;
    }
}
.section_2_lhs
{
    border-left: 5px solid white;
    padding-top: 10%;
    margin-top: -10%;
    padding-top: 10%;
}
.section_2_lhs h1
{
    font-size: 1000%;
}
.section_2_lhs strong
{
    font-size: 500%;
    font-weight: 400;
}
.section_2_lhs p
{
    font-size: 170%;
    font-weight: 1000;
}
.links a
{
    text-decoration: none;
    color: white;
}
.address a
{
    text-decoration: none;
    color: white;
}
.section_2_rhs
{
    color: white;
    position: relative;
    padding-left: 10%;
    margin-top: -10%;
    padding-top: 10%;
    background-color: rgba(28, 224, 224, 0.438);
}
.section_2_rhs p
{
    font-size: 100%;
    font-weight: 500;
}
.section_2_rhs h1
{
    font-size: 900%;
    font-weight: 1000;
    padding-left: 70%;
}
.section_2_line
{
    padding: 2%;
    background-color: rgb(79, 224, 200);
}
.section_2_icons
{
    
}
.section_2_icons a
{
    text-decoration: none;
    color:white;
}
.site_link
{
    text-decoration: none;
    color: white;
    font-size: 130%;
    font-weight: 700;
}
